// Fonts
+font('playBold', PlayfairDisplay-Bold)
+font('playBoldIta', PlayfairDisplay-BoldItalic)
+font('playBlack', PlayfairDisplay-Black)
+font('playBlackIta', PlayfairDisplay-BlackItalic)
+font('robReg', Roboto-Regular)
+font('robLig', Roboto-Light)
+font('robBold', Roboto-Bold)
+font('robItal', Roboto-Italic)
+font('robBoldItal', Roboto-BoldItalic)

=reg
	font-family: robReg, sans-serif
=lig
	font-family: robLig, sans-serif
=bold
	font-family: robBold, sans-serif
=italic
	font-family: robItal, sans-seri
=boldItal
	font-family: robBoldItal, sans-seri
=playBoldIta
	font-family: playBoldIta, sans-serif
=playBlack
	font-family: playBlack, sans-serif
=playBlackIta
	font-family: playBlackIta, sans-serif

// theme colors $t - theme
$green: #30b819
$green-dark: #1e7510
$brown: #e2b478
$lig_green: #dcffce
$red: #ce0108
$pink: #ff5756
$brown-dark: #9d3714

// base colors
$b: #000000
$w: #ffffff
$s3: #333333
$s6: #666666
$s9: #999999